body{
    margin:0;
 font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

}

body h1{
    font-size:50px;
}

body button{
    background:tomato;
    height: 50px;
    width:150px;
    border-radius:4px
}

body span{
    color:orange;

}
h2{
    padding-left:10px;
}
.heading{
        border-left:7px solid;
        border-image: linear-gradient(salmon,tomato);
        border-image-slice: 1;
    }
.heading h1{
   padding-left:5px;
}
    
    


heading{
   border-left: 5px orange;
}
.half-width{
    width:50%;
    padding-left: 2%;
}


.half-width img{
    width:80%;

    
}
.container{
    margin:150px;
    display: flex;

}
.container p{
    font-size:25px;
}

#mission{
    padding-top:15%;


}
#mission-view p{
    padding-left:8px;
}

.heading{
     margin-left: 5px orange;
    
}


.heading1 {
    text-align: center;
    color:orange;
    font-size: 50px;
}
.heading1 span{
    color: rgb(13, 13, 77);
}

.one-third-width{
     width: 33.33%;
     border-radius: 3%;
     margin:10px;
 }
 .one-third-width img{
     width:50%;
 }
 .backside1{
     background-color: rgb(170, 209, 224);

 }
 .backside2{
    background-color: rgb(211, 164, 172);

}
.backside3{
    background-color: rgb(236, 229, 201);

}
.development{
    margin:0;
}
.development1{
    margin-left: 650px;
}


.development img{
    width:60%;
    position:relative;
    margin-left: 92px;
}

.development-background{
    background-image: url(illustrators/illustrator4.png);
    background-repeat: no-repeat;
    position: absolute;
}
.community{

    width:90%;
}
#footer-heading{
     color:white;

}
footer{
    background-color: black;
    height: 150px;
    margin-bottom:0;
}


#footer-heading{
    text-align: center;
}